{% extends 'style.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href="{% static 'styles/miCuenta.css' %}">
   <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet"> 
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Test-Test</title>
</head>
<body>
  <svg  height="100%" width="100%">
    <line x1="-20%" y1="100%" x2="120%" y2="0%" style="stroke:#FFE45F;stroke-width:60px" />
  </svg>
    
    <header>  
    <div  id="menu"> 
        <div class="container"> 
            <a href="{% url 'main:home' %}">
                <img src="{% static 'images/logoMenu.png' %}" alt="logo" id="logomenu" > 
            </a>
        </div>
    <div style="height: 100%;">        
        <ul style="height: 100%;"> 
          <li style="height: 100%;" class="item-d"> <a style="display: flex; align-items: center; justify-content: center; " href="{% url 'main:logout' %}"><p style="padding-top:10px; height: 100%; display: flex; align-items: center; justify-content: center; line-height: 20px;">Cerrar sesión</p></a> </li>
        </ul>
     </div>
    </div>
    </header>

    <div class="contenedor"> 

        <div id="botonagregar">

            <button id="botona"> <span  id="icona" class="material-icons" style="color: white;" >
              add  </span> <a href=""> 
                Crear test </a></button>
            
        </div>
        <div class="contenedorListaTes"> 
            <h3 id="titulo"> Mis tests creados</h3>
            <ul id="listatest">
                {% for test in tests %}
                <li> <a href="{% url 'main:testview' user.username test.id %}"> {{test.nombre}} </a></li>
                {% empty %}
                <li style="height: 60px; display: flex; align-items: center; justify-content: center;"> No has creado ningun test!<br> Prueba creando uno con el botón de arriba.</li>
                {% endfor %}
            </ul>

         </div>

         
    </div>

    <div id="infousuario" style="text-align: center;">
       <h3  id="titulocu"> Mi perfil </h3> 
    

       <table style="margin: 10px; padding:20px; display: flex; text-align: center; align-items: center; justify-content: center; border: 0px solid rgba(4,174,183); border-radius: 5px; background-color:rgba(4, 174, 183, 0.075)" >
        <tbody style="justify-self: center; "> 
        <tr>
           <th>Usuario:</th>
        </tr>
        <tr>
           <td>{{user.username}}</td>
        </tr>
        <tr>
           <th>Edad:</th>
        </tr>
           <td>{{usuario.age}}</td>
        <tr>
            <th>Correo:</th>
        </tr>
        <tr>
            <td>{{user.email}}</td>
        </tr>
        </tbody>
        </table>

        <button id="botone" style="justify-self: center; "> <span  id="icona" class="material-icons" style="color: white;" >
            edit  </span> <a href=""> 
              Editar Perfil </a></button>

     </div>
</body>
{% endblock body %}
</html>