{% extends 'style.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href="{% static 'styles/miCuenta.css' %}">
   <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet"> 
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Test-Test</title>

    <style>
        #botoni{
        position: relative;
        background-color: #033C66;
        display: flex;
        border: none;
        padding: 5px 40px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        border-radius: 7.14px;
        padding-top: 8px;
        }
    </style>
</head>
<body>
  <svg  height="100%" width="100%">
    <line x1="-20%" y1="100%" x2="120%" y2="0%" style="stroke:#FFE45F;stroke-width:60px" />
  </svg>
    
    <header>  
    <div  id="menu"> 
        <div class="container"> 
            <a href="{% url 'main:home' %}">
                <img src="{% static 'images/logoMenu.png' %}" alt="logo" id="logomenu" > 
            </a>
        </div>
    <div style="height: 100%;">        
        <ul style="height: 100%;"> 
          <li style="height: 100%;" class="item-d"> <a style="display: flex; align-items: center; justify-content: center; " href="{% url 'main:logout' %}"><p style="padding-top:10px; height: 100%; display: flex; align-items: center; justify-content: center; line-height: 20px;">Cerrar sesión</p></a> </li>
        </ul>
     </div>
    </div>
    </header>

    <div class="contenedor" style="text-align: center;"> 

        <form style="text-align: left; margin-left: 200px; margin-top: 130px; width:80%" method="GET" action="{% url 'main:busqueda' %}">    
            {% csrf_token %}
            <input type="text" class="form-control" placeholder="Buscar test por nombre, categoría, id o autor..." id="buscador" name="q">
            <button class="btn btn-primary" style="background-color: rgb(4, 60, 101);  margin-bottom: 20px; border: solid 0px; margin-left: 25%; margin-right: 25%; width: 50%; margin-top:5px" type="submit">Buscar test</button><br>
        </form> 


            <button id="botona" style="margin-left: 150px;"> <span  id="icona" class="material-icons" style="color: white;" >
              add  </span> <a href="{% url 'main:insert' 'test' %}"> 
                Crear test </a></button>

        <div class="contenedorListaTes"> 
            <h3 id="titulo"> Mis tests creados</h3>
            <ul id="listatest">
                {% for test in tests %}
                <li style="display: flex; justify-content: center;"> <a href="{% url 'main:testview' user.username test.id %}"> {{test.nombre}} </a></li>
                {% empty %}
                <li style="height: 60px; display: flex; align-items: center; justify-content: center;"> No has creado ningun test!<br> Prueba creando uno con el botón de arriba.</li>
                {% endfor %}
            </ul>

         </div>

         
    </div>

    <div id="infousuario" style="text-align: center;">
       <h3  id="titulocu"> Mi perfil </h3> 
    

       <table style="margin: 10px; padding:20px; display: flex; text-align: center; align-items: center; justify-content: center; border: 0px solid rgba(4,174,183); border-radius: 5px; background-color:rgba(4, 174, 183, 0.075)" >
        <tbody style="justify-self: center; "> 
        <tr>
           <th>Usuario:</th>
        </tr>
        <tr>
           <td>{{user.username}}</td>
        </tr>
        <tr>
           <th>Edad:</th>
        </tr>
           <td>{{usuario.age}}</td>
        <tr>
            <th>Correo:</th>
        </tr>
        <tr>
            <td>{{user.email}}</td>
        </tr>
        </tbody>
        </table>

        <button id="botone" style="justify-self: center; "> <span  id="icona" class="material-icons" style="color: white;" >
            description  </span> <a href="{% url 'main:results' user.username %}"> 
              Mis Test Presentados </a></button>
     </div>

     
</body>
{% endblock body %}
</html>