{% extends 'style.html' %}
{% load static %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel = "stylesheet" type="text/css" href="{% static 'styles/forms.css' %}">
   <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet"> 
   <title>Test-Test: Insertar {{model_name}}</title>

   <style>            
    input{
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        margin-top: 10px;
        text-align: center;
        outline: none;
        background-color: transparent;
        width: 60%;
    }
    </style>
</head>
<body>

  <svg  height="100%" width="100%">
    <line x1="0%" y1="100%" x2="100%" y2="0%" style="stroke:#FFE45F;stroke-width:60px" />
  </svg>
  <svg  height="100%" width="100%">
    <line x1="43%" y1="0%" x2="43%" y2="100%" style="stroke:rgba(255,228,95,75%);stroke-width:40px" />
  </svg>
  <svg height="100%" width="100%">
    <line x1="58%" y1="0%" x2="58%" y2="100%" style="stroke:rgba(255,228,95,75%);stroke-width:40px" />
  </svg>
  <svg height="100%" width="100%">  
    <line x1="20%" y1="0%" x2="20%" y2=" 60%" style="stroke:rgb(4, 187, 197);stroke-width:20px" />
  </svg >
  <svg height="100%" width="100%"> 
     <line x1="80%" y1="0%" x2="80%" y2=" 60%" style="stroke:rgb(4, 187, 197);stroke-width:20px" />
    </svg >

    <header>  
        <div  id="menu"> 
            <div class="container">
                <a href="{% url 'main:login' %}">
                    <img src="{% static 'images/logoMenu.png' %}" alt="logo" id="logomenu" > 
                </a>
        
    </div>
    <div style="height: 100%;">        
        <ul style="height: 100%;"> 
          <li style="height: 100%;" class="item-d"> <a style="padding-top: 4px; display: flex; align-items: center; justify-content: center; " href="{% url 'main:logout' %}"><p style="padding-top:10px; height: 100%; display: flex; align-items: center; justify-content: center; line-height: 20px;">Cerrar<br>sesión</p></a> </li>
        </ul>
     </div>
    </div>
    </header>
      
    <div class="boxp" style="top:190;">
      <img class="imgfondo1" src="{% static 'images/signo_fondo-07.png' %}"> 
      <img class="imgfondo2"  src="{% static 'images/signo_fondo_2-07.png' %}"> 
        <div class="boxh" style="text-align: center; padding-top: 10px;">
            <p style="font-size: 25px; margin-top:10px; color:white"><b>Insertar {{model_name}}</b></p>
          <div id="formlogin"> 
            <form style="margin-top: 10px; width:100%" method="POST" action="">    
                {% csrf_token %}
                {% for field in form %}
                {{ field.label }}<br>
                {{ field }}<br>
                <br>
                {% endfor %}
                    {% if error %}
                        {{ error }}
                    {% endif %}
                </div>
                    <button class="btn btn-primary" style="background-color: rgb(4, 60, 101);  margin-bottom: 20px; border: solid 0px; margin-left: 25%; margin-right: 25%; width: 50%; margin-top:5px" type="submit">Crear {{model_name}}</button><br>
                </form>

               
            </div>

            
        </div>
        </div>
    </div>


 
     
</body>
{% endblock body %}
</html>
