{% extends 'style.html' %}
{% block body %}
<html>
    <head>
        
    </head>
    <body>
        <form style="margin-bottom: 0; margin-top: 10px;" method="POST" action="">    
        {% csrf_token %}
        {% for field in form %}
        <div>
            <div >
            <label style="text-align: center; font-weight: bold;" > {{ field.label }}</label><br>
            {{ field }}<br>
            </div>
            </div>
            {% if field.errors %}
            <br>
            <span>{{ field.errors|striptags }}</span>  
            {% endif %}
            {% endfor %}
                </div>
                <div>
                    <button type="submit" name="Create User">Registrar</button>
                    
                </div>
            </div>
            </form>
        </div>
        {% endblock body %}
    </div>

    </body>
</html>